<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create New Account Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container h-100 mt-5" novalidate>
      <div class="row justify-content-sm-center h-100">
        <div class="">
          <div class="card signin shadow-lg">
            <div class="card-body p-5">

              <form action="/users" method="POST" id="login-form" class="needs-validation" novalidate>
                <img class="mt-4" src="https://cdn-icons-png.flaticon.com/512/1549/1549353.png" height="100" alt="Haybal Company Logo">
                <h1 class="h3 mb-3">Create Haybal Account</h1>

                <p class="text-danger mb-3"><%= locals.warning %></p>

                <div>
                  <label for="emailAddress" class="visually-hidden">Email Address</label>
                  <input type="email" name="emailAddress" id="emailAddress" placeholder="Email Address" class="form-control" required autofocus value="<%= locals.emailAddress%>">
                  <div class="invalid-feedback">
                    Please enter a valid email address.
                  </div>
                </div>

                <div>
                  <label for="password" class="visually-hidden">Password</label>
                  <input type="password" name="password" id="password" placeholder="Password" class="form-control mt-3" required>
                  <div class="invalid-feedback">
                    Password is required.
                  </div>
                </div>

                <div class="mt-3">
                  <label for="confirmpassword" class="visually-hidden">Confirm Password</label>
                  <input type="password" id="confirmpassword" placeholder="Confirm Password" class="form-control" required>
                  <div class="invalid-feedback">
                    Confirming password is required.
                  </div>
                </div>

                <button type="submit" id="register" class="btn btn-secondary mt-3 w-50" autofocus><b>Sign Up</b></button>
                <hr/>
                <a href="/">
                  <button type="button" id="reset" class="btn btn-link mt-3" autofocus>Return to Login</button>
                </a>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="/javascript/register.js"></script>
  </body>
</html>